@import '/CSS/background.css';
@import '/CSS/clock.css';
@import '/CSS/greetings.css';
@import '/CSS/quotes.css';
@import '/CSS/todo.css';
@import '/CSS/weather.css';
@import '/CSS/login.css';


* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

